.light-theme {
    --bs-body-bg: #ffffff;
    --bs-body-color: #000000;
}

.dark-theme {
    --bs-body-bg: #000000;
    --bs-body-color: #ffffff;
}

ul.pagination li {
    padding: 0.1rem;
}

.collection-index-image {
    max-width: 18.75rem;
}