{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}

{% block body %}
    <h1>Edit Item</h1>

    {{ include('item/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_item_index',{'user': user.id, 'collection': collection.id}) }}">back to list</a>

    {{ include('item/_delete_form.html.twig') }}
{% endblock %}
